<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ddee20c3c8.js" crossorigin="anonymous"></script>
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
</head>
<body>
    <header id = "header">
        <div class="header__logo">
            <img class = "logo-photo" src = "assets/images/header/logo.png" alt = "logo Hwatch">
        </div>
     
        <ul class = "header__nav-list">
            <li><a class = "header__nav-item" href = "#">Giới thiệu</a></li>
            <li class = "header__brand-appear"><a class = "header__nav-item" href = "#">Thương hiệu</a>
                <div class="header__brand">
                    <ul class="header__brand-list">
                        <li><a href="#" class="brand-item">ROLEX</a></li>
                        <li><a href="#" class="brand-item">Hublot</a></li>
                        <li><a href="#" class="brand-item">Richard Mille</a></li>
                        <li><a href="#" class="brand-item">Franck Muller</a></li>
                        <li><a href="#" class="brand-item">Corum</a></li>
                        <li><a href="#" class="brand-item">Audemars Piguet</a></li>
                        <li><a href="#" class="brand-item">Patek Philippe</a></li>
                        <li><a href="#" class="brand-item">Jacob&Co</a></li>
                        <li><a href="#" class="brand-item">Chopard</a></li>
                        <li><a href="#" class="brand-item">Zenith</a></li>
                    </ul>
                </div>
            </li>
            <li><a class = "header__nav-item" href = "#">Đồng hồ nam</a></li>
            <li><a class = "header__nav-item" href = "#">Đồng hồ nữ</a></li>
            <li><a class = "header__nav-item" href = "#">Liên hệ</a></li>
        </ul>
        <ul class = "header__nav-btn">
            <li class = "header__nav-item -display-inline search-bar-appear"><i class="fa-solid fa-magnifying-glass"></i>
                <div class="search-bar">
                    <form action="" class = "seach-bar__form">
                        <input type="text" class="search-bar__content" placeholder="Tìm kiếm...">
                        <i class= "fa-sharp fa-solid fa-magnifying-glass search-bar__search-btn"></i>
                    </form>
                    
                </div>
            </li>
            <li class="header__nav-item user-btn -display-inline"><i class="fa-solid fa-user"></i></li>
            <li class = "header__nav-item -display-inline"><i class="fa-solid fa-cart-shopping"></i></li>
            
        </ul>
       
    </header>
    <div class="banner">
        <div class="banner__slider">
            <img src="assets/images/slider/slide1.jpg" alt="slide" class="slide1">
        </div>
        <div class="banner__service">
            
            <ul class="service-list">
                <li class="service-item">
                    <div class="service-icon">
                        <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="service-content -service-border-right">
                        <p class="service-content__header">Giao hàng miễn phí</p>  
                        <p class = "service-content__subheader">Trên toàn quốc</p>
                    </div>
                </li>
                
                <li class="service-item">
                    <div class="service-icon">
                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    </div>
                    <div class="service-content -service-border-right">
                        <p class="service-content__header">ĐỔI TRẢ DỄ DÀNG</p>  
                        <p class = "service-content__subheader">Theo quy định của hệ thống</p>
                    </div>
                </li>
                
                <li class="service-item">
                    <div class="service-icon">
                        <i class="fa-solid fa-money-check-dollar"></i>
                    </div>
                    <div class="service-content -service-border-right">
                        <p class="service-content__header">HOÀN TIỀN GẤP 10 LẦN</p>  
                        <p class = "service-content__subheader">Khi phát hiện hàng giả</p>
                    </div>
                </li>
                
                <li class="service-item">
                    <div class="service-icon">
                        <i class="fa-solid fa-phone-volume"></i>
                    </div>
                    <div class="service-content">
                        <p class="service-content__header">Đặt hàng online</p>  
                        <p class = "service-content__subheader">0988019474</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- main -->
    <div id="main">
        <div class="famous-brand -border-top">
            <h2 class = "famous-brand__header">THƯƠNG HIỆU NỔI TIẾNG</h2>
            <a class="famous-brand__more-brand" href = "#">
                <h4>Xem tất cả</h4>
                <i class="fa-solid fa-angles-right -next-more"></i>
            </a>
            <ul class="famous-brand-list">
                <li class="famous-brand-item">
                    <a href="#"><img class = "img-brand" src="assets/images/main/brand/rolex.jpg" alt="ROLEX"></a>
                </li>
                <li class="famous-brand-item">
                    <a href="#"><img class = "img-brand" src="assets/images/main/brand/hublot.jpg" alt="HUBLOT"></a>
                </li>
                <li class="famous-brand-item">
                    <a href="#"><img class = "img-brand" src="assets/images/main/brand/richard-mille.jpg" alt="RICHARD MILLE"></a>
                </li>
                <li class="famous-brand-item">
                    <a href="#"><img class = "img-brand" src="assets/images/main/brand/franck-muller.png" alt="FRANCK MULLER"></a>
                </li>
                
            </ul>
        </div>
        <div class="man-watch">
            <h2 class = "man-watch__header">ĐỒNG HỒ NAM</h2>
            <a class="man-watch__more-watch" href = "#">
                <h4>Xem tất cả</h4>
                <i class="fa-solid fa-angles-right -next-more"></i>
            </a>
        </div>
        <div class="woman-watch">
            <h2 class = "woman-watch__header">ĐỒNG HỒ NỮ</h2>
            <a class="woman-watch__more-watch" href = "#">
                <h4>Xem tất cả</h4>
                <i class="fa-solid fa-angles-right -next-more"></i>
            </a>
        </div>
    </div>
</body>
</html>